# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [239]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [240]:
!pip install gmaps

Requirement already satisfied: gmaps in /opt/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (1.12.0)
Requirement already satisfied: geojson>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: traitlets>=4.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipython>=5.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from gmaps) (7.8.0)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (4.4.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (4.4.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.15.1)
Requirement already satisfied: appnope; sys_platform == "darwin" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (41.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.0.10)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.7.0)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.4.2)
Requirement already satisfied: jupyter-client in /opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.3)
Requirement already satisfied: tornado>=4.2 in /opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: notebook>=4.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.0.2)
Requirement already satisfied: jupyter-core in /opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.5.0)
Requirement already satisfied: parso>=0.5.0 in /opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.1)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: pyzmq>=13 in /opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (18.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.0)
Requirement already satisfied: Send2Trash in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: prometheus-client in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: nbconvert in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.0)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.10.3)
Requirement already satisfied: terminado>=0.8.1 in /opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.2)
Requirement already satisfied: pyrsistent>=0.14.0 in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.4)
Requirement already satisfied: attrs>=17.4.0 in /opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.2.0)
Requirement already satisfied: entrypoints>=0.2.2 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: testpath in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)

In [241]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [242]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Google developer API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key="ENTER KEY HERE")

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [243]:
data_file = "../output_data/cities.csv"
cities_df = pd.read_csv(data_file)


cities_df.dropna()
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [244]:
gmaps.configure(api_key="ENTER KEY HERE")

In [245]:
locations = cities_df[["Lat", "Lng"]]

humidity = cities_df["Humidity"].astype(float)

In [246]:
# Plot Heatmap
fig = gmaps.figure(map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=130,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [247]:
newdf = pd.DataFrame(cities_df)

max_temp = (newdf["Max Temp"] < 80) & (newdf["Max Temp"] > 70)
windspeed = newdf["Wind Speed"] < 10
nocloudy = newdf["Cloudiness"] == 0

newnewdf = newdf[max_temp & windspeed & nocloudy ]
newnewdf

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
7,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [248]:
hotel_df = pd.DataFrame(newnewdf, columns=["City","Country","Lat","Lng"])

hotel_df["Hotel Name"] = ""
hotel_df

             City Country    Lat    Lng Hotel Name
7           opuwo     NaN -18.06  13.84
70   ponta do sol      BR -20.63 -46.00
88       cidreira      BR -30.17 -50.22
138     morondava      MG -20.30  44.28
139         vaini      IN  15.34  74.49
176         nador      MA  35.17  -2.93
297         mogok      MM  22.92  96.51
444       birjand      IR  32.86  59.22

In [249]:
pprint(response.json(), depth=1)

Pretty printing has been turned OFF

In [250]:
hotel_df.head()

             City Country    Lat    Lng Hotel Name
7           opuwo     NaN -18.06  13.84
70   ponta do sol      BR -20.63 -46.00
88       cidreira      BR -30.17 -50.22
138     morondava      MG -20.30  44.28
139         vaini      IN  15.34  74.49

In [251]:
params={
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key
}

for index,row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [252]:
hotel_name

[nan, 'Shandrani Beachcomber Resort & Spa', 'Qaanaaq Hotel', nan, 'Signature Lux Hotel by ONOMO, Waterfront', 'Villa Enata', 'Barrack Point Holidays', 'Opuwo Country Lodge', nan, 'The guest house "The Tale here"', 'Hotel Astoria', 'Enjoy Chiloé. Hotel De La Isla', 'Muri Beach Club Hotel Rarotonga', nan, 'Hotel Gobernador', 'Renaissance Albany Hotel', 'Gostinitsa "Mariya"', 'Los Cauquenes Resort & Spa', 'Laguna Beach Hotel & Spa', 'Отель Купеческий', 'Milky Resort', 'Esplanade Hotel', 'Domaine de Rochevilaine', 'Salinas do Maragogi All Inclusive Resort', nan, 'โรงแรมกันตังปาร์ค(Kantang Park Hotel)', "AMAAN'S HOUSE", 'Hotel Cabo de Hornos', "Pension Maro'i", 'The Woodbridge', 'Goba Lodge', 'The Westin Qingdao', 'Quarter Deck Inn', nan, nan, 'Long House Hotel Bethel', 'AmericInn by Wyndham, Fulton Clinton', 'Huset ved havet', nan, nan, 'Nautilus Cottage', "Best Western Plus St. John's Airport Hotel and Suites", 'The Explorer Hotel', nan, 'Hotel Solymar Galapagos', 'Hotel Rosita', nan, nan, 'The Halyards Hotel', nan, nan, 'Grand Hotel Snack', 'دفتردستک محمدسیاه', 'Waldorf Astoria Los Cabos Pedregal', 'Le Rocher de Tahiti', nan, 'Embassy Beach', nan, 'Hótel Höfn', 'Garuda Hotel Bontang', 'Kewadin Casinos – Sault Ste. Marie', nan, 'Best Western Thompson Hotel & Suites', "Munitsipal'naya Gostinitsa", 'Hotel Kap Farvel', 'Profilaktoriy Baes', nan, nan, 'BejaParque Hotel', 'Balneario de Leana', 'Kanto Island Inn Suites & Spa', nan, 'Isles Sunset Lodge', 'The Oceanfront Inn', nan, nan, 'Hotel Sanches', 'Provintsiya', 'Hotel Panoramic', 'Hotel Peace Palace, Baglung, Nepal', 'Solscape', 'Jamestown Hotel', 'Sur Plaza Hotel', nan, 'Emerald Star Hotel', 'Mercure Launceston', nan, 'Hotel National', 'Pousada Rosa', nan, 'Hotel Ferreira', 'Santa Ines Bella Vista Hotel', 'Qionghai Hotel', 'Best Western Plus Delta Inn & Suites', 'Park Inn by Radisson, Najran', nan, "Ellie's Villa", nan, 'Baza Otdykha "Raukhova Mel\'nitsa"', nan, 'Penginapan Kofiyau', 'Delta Hotels by Marriott Kingston Waterfront', 'Inn at Creek Street', 'Hilton Garden Inn Kauai Wailua Bay', nan, 'Qianhao Hotel', 'Hilo Hawaiian Hotel', 'Best Western Gold Rush Inn', 'Bonthe Holiday Village', nan, 'Embassy Suites by Hilton Lompoc Central Coast', 'Sinclairs Bayview Port Blair', '6 On Kloof Guesthouse', nan, 'Hotel Karem Bay', 'InterContinental Bora Bora Resort Thalasso Spa', 'Keochinda hotel', 'Blue Lagoon Hotel', 'Hotel Xaguate', nan, 'Hotel Internacional', nan, "Hotel Residence Torre Sant'Angelo", 'Лагуна', 'Hotel Reinares', 'Orlanova Hotel', 'Villa Howden', 'Sundog Inn', nan, "Victor's Hotel", 'Hotel El Merecure', 'Gostinitsa Ip Zabirov', 'Best Western Plus Wendover Inn', 'Hôtel TAKIALT', 'Hotel Castagneto', 'Kibungo - Centre St. Joseph Guest House', 'Frobisher Inn', nan, 'Kimony Resort Hotel', 'Dandeli Dreams Jungle resorts', 'Guyana Marriott Hotel Georgetown', nan, 'Tube well mirza rehan', 'Xinhao Business Hotel', 'Holiday Inn Express & Suites Plainview', 'WAM Hotel Patagónico', nan, 'Hotel Cambri', 'Taif hotel', 'Jinjiang International Hotel Ganzhou', 'Talnakh Hotel', nan, 'Hotel Du Fleuve', 'Hotel Pousada Paradise', 'Havøysund Hotel & Rorbuer', 'Snowhotel Kirkenes', 'Hotel Narsaq', "Phil & Ann's Sunset Motel", 'Rimklong Boutique Hotel', 'Four Points by Sheraton Manado', 'Residence la Gancia', 'Pousada Cassino', nan, "Raven's Rest Inn", 'Hyatt Regency Kathmandu', 'Heritage Hotel', 'Holiday Inn Express & Suites Brainerd-Baxter', '玉门宾馆', 'Jægtvolden Fjordhotell', 'Hotel Porto Santo & Spa', nan, nan, 'Hotel Belle Vue', 'Nusa Island Retreat', 'Zabalanquira Hotel De Montaña', 'Naujaaraaluit – Clyde River Hotel', 'Hotel Marchica Lagoon Resort, Nador Morocco', 'Hotel Keflavik', nan, nan, 'Hôtel Cap Macabou', 'Hotel Angmagssalik', nan, "Miss Emily's Place", 'Beach Hotel Burnie', nan, nan, nan, 'Pestana Palm Gardens', 'Bluff Hotel', 'Comfort Inn', 'Hotel North Palmyra', 'The Esplanade Hotel', 'Rekidhiye Inn', nan, 'Coraki Hotel', 'Hotel Arctic', 'Hotel Boutique Costa Del Sol', 'Mauricia Beachcomber Resort & Spa', 'KAABONG RESORT HOTEL', 'Hotel Rincon Campestre', 'Hotel Presidente Luanda', 'Hotel Patagonia', 'Namatanai Hotel', 'Kak Doma', nan, nan, nan, nan, 'Yeet Hotel', 'Quinta Das Buganvílias', nan, 'The Old Mount Gambier Gaol', 'Posada el portal de la Loma', 'Abacus Motel', 'Les Deux Vélos Cycle Lodge', 'Hotel Grand Chancellor Hobart', 'Clayton Hotel Ballsbridge', 'Al Baleed Resort Salalah by Anantara', nan, nan, 'Marawi Resort Hotel', 'LA QUINTA PRIMAVERA', nan, nan, 'Lord Carnarvon Guesthouse', 'MOB HOTEL', 'Amir hotel', 'Howard Johnson Hotel & Marinas San Pedro Resort', nan, 'Fairfield Inn & Suites by Marriott Moses Lake', 'Sāo Cristóvão', 'Sheraton Hamilton Hotel', 'Dreamsea Surf Resort Nicaragua', nan, 'RedDoorz @ Cisaga', nan, 'Andradas Palace Hotel', 'Hotel Royal', 'Manzhouli International Hotel', 'Commercial Hotel', 'Chukotka hotel', 'REER XOOSHLE GROUP', 'Mandry', 'Juddi Hotel', "Smitty's Bed and Breakfast", 'Gostinitsa "Sakhalin-Sfera"', 'Hotel Santa Fe', 'Panamericana Hotel Ancud', 'Edna Addis Hotel', 'Port Lincoln Hotel', nan, 'KARTANOHOTELLI KAROLINEBURG', 'Adelaide Road Motor Lodge', 'Hotel Trocadero', nan, 'Hotel Diana', 'Hotel Bambou', 'Te Anau Lakeview Kiwi Holiday Park & Motels', 'Hami Hotel', 'Best Western Pahrump Oasis', 'Copper River Inn', 'Mayfair Hotel', 'Hotel Soyuz', 'Iloha Seaview Hotel', 'Thuraya Tourist Hotel', 'DoubleTree by Hilton Hotel Alice Springs', 'Hotel Roraima Suites', nan, 'Turtle Nest Inn', 'Victoria Hotel', 'Hotel Dreams de la Patagonia', 'Dumont Palace Hotel', 'Hotel Mercure Santa Rosa La Pampa', 'Samuels Hotel', 'Hotel Iparana Paradise', 'Santa Barbara Eco-Beach Resort', 'Kinwica', 'Grand Hotel Montabo', nan, 'Hacienda Hato Verde', '別邸 海と森', 'Lakeview Inns & Suites - Slave Lake', 'Chateau on the Park - Christchurch, a DoubleTree by Hilton', nan, 'LÜDERITZ NEST HOTEL', "Trishcia's Guest House", 'Pangnirtung Fjordview Bed and Breakfast', nan, 'Robin Hood Village Resort', 'Hotel Viktoria', 'Hotel Florida', 'Club Mahindra Madikeri Resort In Coorg', 'Bentley 24hr Room Accommodation', 'Protea Hotel by Marriott Takoradi Select', 'Gostinitsa Lyuks', nan, 'Mount Mogok Hotel', 'Scandic Mikkeli', 'Jiuquan Hotel', nan, nan, 'Taloa Heights', 'Sails in the Desert', 'Ooo "Kvarkeno"', 'Hotel Atalaia Inn', nan, 'Wains Hotel Dunedin', nan, "Gina's Guesthouse - Upernavik", nan, 'Nebitchi Hotel', 'Gostinitsa "Polar"', 'House otdaha locomotive crews', 'tansag hotel', 'Hotel Yanuba, Miraflores', 'Footsteps Eco Lodge, The Gambia', 'Wajiima Onsen Yashio', 'Maringe Lagoon Lodge', 'Pousada Gargalheiras', 'HOTEL CALYPSO', 'Granada Hotel Mandera', 'hôtel paradis de Tshikapa', 'Four Points by Sheraton Juneau', 'Holiday Inn Express & Suites Sidney', nan, 'Bohio Dive Resort', 'Hotel Sunroute Goshogawara', 'The IMPERIAL Hotel', 'The Montenotte Hotel', nan, 'Hotel Miyahira', 'Golden Shore Resort', 'Gostiny Dvor Evgeniya', nan, 'Zhongtian Hotel', 'Aye Chan Myaing Hotel', 'Crowne Plaza Acapulco', 'Umthunzi Hotel & Conference', nan, 'Mint Hotel', 'Onway Lake Family Resort', 'Sea View Hotel', 'Yalemd', 'Okaerinasai', 'Hotel Eseka Palace', 'The Nesbitt Arms', nan, nan, nan, nan, 'Hôtel Opémiska', nan, 'Buudai Hotel', nan, nan, 'Gomang Boutique Hotel', 'Hotel Kyriad Muraya', 'Groote Eylandt Lodge', 'Lofoten Værøy Brygge', 'Woodlands Inn & Suites', 'Crown Victoria Hotel', 'Garden Hotel', 'Pestana Bahia Praia', 'Hotel Akureyri', 'Bannisters Pavilion', 'Alexander Beketov Guesthouse', nan, 'Malaya Gostinitsa', 'Cooma Motor Inn', 'Motel Valentina', 'Pazo do Souto', 'Shimoda Yamatokan', 'Gostinitsa', 'Solar De Alqueva', 'Courtyard by Marriott Fort Walton Beach-West Destin', 'Shangri La Hotel Qinhuangdao', 'Shoreline Inn & Conference C, Ascend Hotel Collection', 'Gostinitsa Grenada', nan, 'Radisson Blu Hotel Kayseri', 'Hilton Quanzhou Riverside', 'Hotel Lake Garda', 'Hampton Inn & Suites by Hilton Medicine Hat', nan, 'Altadomo Hotel', 'The Mill Casino • Hotel & RV Park', 'Paitití Hostel', 'Between Bridges Inn', 'Le domaine de Bellevue', 'The Harbour Inn', 'Hotel ibis Styles Iu Namibe', 'Westport Coast Hotel', 'Constantino Hotel', 'Eko Hotels & Suites', 'Beach House - Half Moon Bay', 'The Anchorage Port Stephens Hotel & Spa', 'Last Light Lodge', 'The Retreat at Blue Lagoon Iceland', 'Sofitel Xining', nan, 'Sikakubete Guest House Kalabo Town Council', 'Carrefour', nan, 'اوتيل City Stay', 'Hotel Labuan Point', 'DoubleTree by Hilton Hotel Pittsburgh - Cranberry', 'Tunka-350', 'Cristal Palace Hotel', 'ECO Lifestyle & Lodge', 'Ragaray Executive Suites', "Mary-Ann's Polarrigg", 'Hotel TGH - The Grand Highness', 'База отдыха "Динамо" Семинский перевал', 'Sarwary Hotel', nan, 'Kirkuk Plaza Hotel', 'hotêl doufoulougou', 'Endless Summer Lodge - BBH', 'Bayhaven Lodge', 'Manmimar Nature Lodge', 'InterContinental Carlton Cannes', 'Oao "Susumanzoloto"', 'Hotel Liebl', 'Hotel Karysmã', 'Hotel Royal Tocopilla', nan, 'Porters Boutique Hotel', 'Prozhivaniye V Okhotske', 'Hotel Maniitsoq', 'Khalifa Homestay', 'Hotel Los Corceles', 'Hotel Gamboa', nan, 'Hotel Labuan Point', 'Ban Mai Hotel', 'Hotel', 'Sunset Inn & Suites', 'The Old Lodge B&B', 'Hotel Marilu', 'Busta House Hotel', 'Gostinitsa Ivushka', 'The Nolangeni Hotel', nan, 'Sepehr Hotel', 'Lees Hotel', 'Desert Rendezvous', nan, 'Warwick Doha Hotel', "Marriott's Ko Olina Beach Club", 'Seeadler Bay Hotel', 'スーパーホテル阿南・富岡', nan, nan, 'Hotel Amazor', 'Nanxiang Barony Hotel', nan, 'Hyatt Regency Maui Resort And Spa', 'The Green Dragon Hotel', 'Hotel Iruya', nan, 'R&A Hotel', 'Lighthouse Lodge & Cottages', 'Muong Thanh Grand Quang Nam Hotel', nan, nan, 'Gostinitsa Norilsk', nan, 'Hotel Torre Luz', 'Tierra Alta Ecolodge', 'Hotel Novotel Barcelona City', nan, 'Sawtell Hotel', 'K-POP HOTEL Seoul Tower', 'The Plettenberg Hotel', 'Renaissance Aruba Resort & Casino', 'Pousada Convento de Belmonte', 'Young Australian Hotel & Function Centre', 'HARRIS Hotel Samarinda', 'Hotel Zumrat', nan, 'Seasons Hotel Narok', "Ye-Otel'", 'Gran Hotel Avenida', 'Hotel MarSur', 'Hôtel Nahoui', 'Wingate by Wyndham Bismarck', nan, 'Kashinin Hotel Ethiopia', nan, 'Romka Holiday Inn', nan, nan, 'Hotel Hans Egede', nan, 'Lavande Hotel Fuxin 318 Park', nan, 'Holiday Inn Express and Suites Havelock', 'Hotel Indigo Traverse City', 'Hotel Veleros Champoton', 'Mandal Hotel', 'Hotel ibis Delemont Delsberg', 'Bo Khin Guest House', nan, 'Pousada São Vicente', 'Casa Imperial Luxo', 'ASMOREIN HOTEL', 'Drostdy Hotel', 'Le Méridien Noumea Resort & Spa', 'Ramada by Wyndham Emerald Park/Regina East', 'Auberge mer et desert', 'Hotel Shimamoto', 'Natchez Grand Hotel', 'Grand Kesambi Resort and Villas', 'Keinnara Loikaw', nan, 'Sandies Tropical Village', 'Hotel West', 'Pousada Arte da Natureza', 'Silver Horseshoe Inn', 'Days Inn by Wyndham High Prairie', 'Hideaway Bahamas Beach Club', 'Ulvesund FYR', 'Hotel Kununurra', 'Dolphin Hotel', 'Manazeli Makkah Hotel', 'Hotel Austral Viedma', 'Hotel Hacienda Vieja', nan, 'Lancaster Inn', 'HOTEL LOCUS', 'Esplendor by Wyndham Mendoza', 'Key-oh Lodge', 'Vaihmalan Hovi', nan, 'Hotel Alavera', 'Mercure Padang', 'Hotel de Matam', 'Best Western Plus Hôtel La Corniche', 'Mercure Palu', 'Taverna U Dyadi Viti', 'Mercure Hotel Tamworth', 'Sunbank House Hotel', nan, 'Hampton Inn by Hilton Durango', 'B&B HOTEL', nan, 'Mushanhe Hotel']

In [253]:
hotel_df.dropna()

             City Country    Lat    Lng                     Hotel Name
70   ponta do sol      BR -20.63 -46.00                Escarpas Resort
88       cidreira      BR -30.17 -50.22                   Pousada Rosa
138     morondava      MG -20.30  44.28            Kimony Resort Hotel
139         vaini      IN  15.34  74.49  Dandeli Dreams Jungle resorts
176         nador      MA  35.17  -2.93                Hotel Beautiful
297         mogok      MM  22.92  96.51              Mount Mogok Hotel
444       birjand      IR  32.86  59.22                   Sepehr Hotel

In [254]:
hotel_df.head()

             City Country    Lat    Lng                     Hotel Name
7           opuwo     NaN -18.06  13.84            Opuwo Country Lodge
70   ponta do sol      BR -20.63 -46.00                Escarpas Resort
88       cidreira      BR -30.17 -50.22                   Pousada Rosa
138     morondava      MG -20.30  44.28            Kimony Resort Hotel
139         vaini      IN  15.34  74.49  Dandeli Dreams Jungle resorts

In [255]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [256]:
# Add marker layer ontop of heat map

markers =gmaps.marker_layer(locations,info_box_content =hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))